<%= render 'layouts/navbar' %>

<body class="events-bg">
	<div class="container">
		<div class="eventmaincontainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                	
						<h1>New Event</h1><br>
						
						<%= render 'events/form' %><br>
						
						<%= link_to 'Back', events_path %>
						</div>
				</div>
			</div>
		</div>
</body>